<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
<div id="base">

</div>

<script type="text/javascript" src="/src/weather/current.js"></script>

</body>
</html>