<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/caleandar/demo.css"/>
    <link rel="stylesheet" href="css/caleandar/theme3.css"/>
</head>
<body>
{% block body_top %}
    {%  include 'header.twig' %}
{% endblock %}
{% block body %}{% endblock %}
{% block caleandar %}
    {%  include 'caleandar.twig' %}
{% endblock %}

<!-- JS, Popper.js, and jQuery -->
<script src="js/jquery.slim.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js" ></script>
<script type="text/javascript" src="js/caleandar/caleandar.js"></script>
<script type="text/javascript" src="js/caleandar/demo.js"></script>
</body>
</html>